<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>To Do App</title>
</head>
<body>
    <div class="switch-container">
        <label class="switch">
            <input type="checkbox" >
            <span class="slider round"></span>
        </label>
        <p>Dark Mode</p>
    </div>  
    <div class="container">
        <h1 class="text-center">To-Do App</h1>
        <div class="task-list">
            <div class="task-list-header">
                <div class="task-name">Task</div>
                <div class="task-status">Status</div>
            </div>
            {% for task in tasks %}
            <div class="task-item">
                <div class="task-name">{{ task.task_name }}</div>
                <div class="task-status">{{ task.status }}</div>
                <div class="task-action"><a href="{{ url_for('complete_task', task_id=task[0]) }}" class="btn">Mark as completed</a></div>
            </div>
            {% endfor %}
        </div>
        <form action="{{ url_for('add_task') }}" method="POST" class="add-task-form">
            <div class="form-group">
                <label for="task_name">Task Name</label>
                <input type="text" class="form-control" id="task_name" name="task_name" required>
            </div>
            <button type="submit" class="btn">Add Task</button>
        </form>
    </div>
</body>
<script>
  /* JS part */
    
  // Quando o switch é clicado, adiciona ou remove a classe "dark-mode" do elemento body
const toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
const body = document.querySelector('body');

toggleSwitch.addEventListener('change', switchTheme);

function switchTheme() {
  if (this.checked) {
    body.classList.add('dark-mode');
  } else {
    body.classList.remove('dark-mode');
  }
}
</script>
</html>